# AllowUsers is removed - the user is dynamically created via SSH_MASTER_USER env var
# If you need to restrict access, uncomment and use:
# AllowUsers ${SSH_MASTER_USER}

ChallengeResponseAuthentication no
UsePAM no
PrintMotd no
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
PermitTunnel no

Subsystem sftp internal-sftp

# Chroot SFTP users to their home directory
Match Group www-data
    ChrootDirectory %h
    X11Forwarding no
    AllowTcpForwarding no
    AllowAgentForwarding no
    PermitTunnel no
    ForceCommand internal-sftp
