services:

    mysql:
        image: 'mariadb:10.11'
        container_name: ${PROJECT_NAME}_mysql
        restart: unless-stopped
        command: --max_allowed_packet=256M
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        volumes:
            - ${MYSQL_DATA_DIR}:/var/lib/mysql
            - .${MYSQL_DATA_DIR}/conf.d/60-tuning.cnf:/etc/mysql/conf.d/60-tuning.cnf:ro
        networks:
            - internal
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 60s
            timeout: 10s
            retries: 3

    webserver:
        image: 'nginx:alpine'
        container_name: ${PROJECT_NAME}_nginx
        restart: always
        security_opt:
            - no-new-privileges:true
        working_dir: /application
        volumes:
            - ${WWW_DATA_DIR}:/application
            - ./php-${PHP_VERSION}_docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        ports:
            - '127.0.0.1:${WEBSERVER_PORT}:80'
        networks:
            - internal
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost"]
            interval: 60s
            timeout: 10s
            retries: 3
            
    php-fpm:
        build: php-${PHP_VERSION}_docker/php-fpm
        container_name: ${PROJECT_NAME}_php-fpm
        restart: always
        working_dir: /application
        volumes:
            - ${WWW_DATA_DIR}:/application
            - ./php-${PHP_VERSION}_docker/php-fpm/php-ini-overrides.ini:/etc/php/${PHP_VERSION}/fpm/conf.d/99-overrides.ini
        #    - ./php-${PHP_VERSION}_docker/php-fpm/www.conf-overrides:/etc/php/${PHP_VERSION}/fpm/pool.d/z-optimised.conf
        networks:
            - internal
        healthcheck:
            test: ["CMD", "php-fpm", "-t"]
            interval: 60s
            timeout: 10s
            retries: 3

    redis:
        image: 'redis:6.0-alpine'
        container_name: ${PROJECT_NAME}_redis
        restart: unless-stopped
        volumes:
            - ${REDIS_DATA}:/data
        networks:
            - internal
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 60s
            timeout: 10s
            retries: 3

#   watchtower:
#        image: containrrr/watchtower
#        container_name: ${PROJECT_NAME}_watchtower
#        volumes:
#            - /var/run/docker.sock:/var/run/docker.sock
#        environment:
#            WATCHTOWER_CLEANUP: ${WATCHTOWER_CLEANUP}
#            WATCHTOWER_SCHEDULE: ${WATCHTOWER_SCHEDULE}
#            WATCHTOWER_LOG_LEVEL: ${WATCHTOWER_LOG_LEVEL}
#            WATCHTOWER_NOTIFICATIONS: ${WATCHTOWER_NOTIFICATIONS}
#            WATCHTOWER_NOTIFICATION_EMAIL_FROM: ${WATCHTOWER_NOTIFICATION_EMAIL_FROM}
#           WATCHTOWER_NOTIFICATION_EMAIL_TO: ${WATCHTOWER_NOTIFICATION_EMAIL_TO}
#            WATCHTOWER_NOTIFICATION_EMAIL_SERVER: ${WATCHTOWER_NOTIFICATION_EMAIL_SERVER}
#            WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT: ${WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT}
#            WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER: ${WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER}
#            WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD: ${WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD}
#            WATCHTOWER_NOTIFICATION_EMAIL_DELAY: ${WATCHTOWER_NOTIFICATION_EMAIL_DELAY}
#        restart: unless-stopped
#        networks:
#            - internal
#
#    phpmyadmin:
#        image: phpmyadmin/phpmyadmin
#        container_name: ${PROJECT_NAME}_phpmyadmin
#        restart: always
#        ports:
#            - ${PHPMYADMIN_PORT}:80
#        hostname: ${PHPMYADMIN_DOMAIN}
#        environment:
#            PMA_HOST: mysql
#        networks:
#            - internal
#
#    server:
#        container_name: ${PROJECT_NAME}_ssh
#        build:
#            context: ./ssh_docker
#            args:
#                SSH_MASTER_USER: ${SSH_MASTER_USER}
#                SSH_MASTER_PASS: ${SSH_MASTER_PASS}
#        restart: always
#        hostname: ${PROJECT_DOMAIN}
#        working_dir: /home/${SSH_MASTER_USER}/application
#        volumes:
#            - ${WWW_DATA_DIR}:/home/${SSH_MASTER_USER}/application
#        ports:
#            - "${SSH_HOST_PORT}:22"
#        networks:
#            - internal

networks:
  internal:
    name: ${PROJECT_NAME}_net
    driver: bridge
