<div id="email-container">
    <!-- SECTION: SERVER INFO -->
    <div style="float:left;width:100%">
        <div
            style="font-size:14px;font-weight:bold;color:#fff;float:left;font-family:Verdana,Helvetica,Arial;line-height:36px;background:#503fe0;padding:5px 0 10px 10px;width:100%;height:30px">
            Server Status: {{server_status}} {{server_status_icon}}</div>
        <div
            style="color:#000;font-size:12px;line-height:32px;float:left;font-family:Verdana,Helvetica,Arial;background:#d8d8d8;padding:10px;width:100%">
            <b>Server IP: {{server_ipv4}}</b><br><b>Disk usage: {{disk_usage}}</b><br>
        </div>
    </div>
    <!-- SECTION: PKG STATUS -->
    <div style="float:left;width:100%">
        <div
            style="font-size:14px;font-weight:bold;color:#fff;float:left;font-family:Verdana,Helvetica,Arial;line-height:36px;background:#503fe0;padding:5px 0 10px 10px;width:100%;height:30px">
            Packages Status: {{packages_status}} {{packages_status_icon}}</div>
        <div
            style="color:#000;font-size:12px;line-height:32px;float:left;font-family:Verdana,Helvetica,Arial;background:#d8d8d8;padding:10px 0 0 10px;width:100%">
            <div></div>
        </div>
        <div style="float:left;width:100%">
            <div
                style="color:white;font-size:14px;font-weight:b old;font-family:Verdana,Helvetica,Arial;line-height:36px;float:left;background:#503fe0;padding:5px 0 10px 10px;width:100%;height:30px">
                Certificates on server: {{certificates_status}} {{certificates_status_icon}}</div>
            <div
                style="color:#000;font-size:12px;line-height:32px;float:left;font-family:Verdana,Helvetica,Arial;background:#d8d8d8;padding:10px;width:100%">
                <b>Sites certificate expiration days:</b><br>
                <div style="color:#000;font-size:12px;line-height:24px;padding-left:10px">
                    {{certificates_list}}
                </div>
            </div>
        </div>
        <!-- SECTION: CONFIG BACKUP -->
        <div style="float:left;width:100%">
            <div
                style="font-size:14px;font-weight:bold;color:#fff;float:left;font-family:Verdana,Helvetica,Arial;line-height:36px;background:#503fe0;padding:5px 0 10px 10px;width:100%;height:30px">
                Config Backup: {{configs_backup_status}} {{configs_backup_status_icon}}</div>
            <div
                style="color:#000;font-size:12px;line-height:32px;float:left;font-family:Verdana,Helvetica,Arial;background:#d8d8d8;padding:10px;width:100%">
                <b>Backup files includes:</b><br>
                <div style="color:#000;font-size:12px;line-height:24px;padding-left:10px">
                    {{configs_backup_list}}
                </div>
            </div>
        </div>
        <!-- SECTION: DATABASE BACKUP -->
        <div style="float:left;width:100%">
            <div
                style="font-size:14px;font-weight:bold;color:#fff;float:left;font-family:Verdana,Helvetica,Arial;line-height:36px;background:#503fe0;padding:5px 0 10px 10px;width:100%;height:30px">
                Database Backup: {{databases_backup_status}} {{databases_backup_status_icon}}</div>
            <div
                style="color:#000;font-size:12px;line-height:32px;float:left;font-family:Verdana,Helvetica,Arial;background:#d8d8d8;padding:10px 0 0 10px;width:100%">
                <b>Backup files includes:</b><br>
                <div style="color:#000;font-size:12px;line-height:24px;padding-left:10px">
                    {{databases_backup_list}}
                </div>
            </div>
        </div>
        <!-- SECTION: FILES BACKUP -->
        <div style="float:left;width:100%">
            <div
                style="font-size:14px;font-weight:bold;color:#fff;float:left;font-family:Verdana,Helvetica,Arial;line-height:36px;background:#503fe0;padding:5px 0 10px 10px;width:100%;height:30px">
                Files Backup: {{files_backup_status}} {{files_backup_status_icon}}</div>
            <div
                style="color:#000;font-size:12px;line-height:32px;float:left;font-family:Verdana,Helvetica,Arial;background:#d8d8d8;padding:10px;width:100%">
                <b>Backup files includes:</b><br>
                <div style="color:#000;font-size:12px;line-height:24px;padding-left:10px">
                    {{files_backup_list}}
                </div>
            </div>
        </div>
        <!-- SECTION: EMAIL FOOTER -->
        {{footer}}
    </div>
</div>

</div>