<div style="float:left;width:100%;margin:20px 0">
    <div
        style="font-size:16px;font-weight:bold;color:#fff;float:left;font-family:Verdana,Helvetica,Arial;line-height:36px;background:#dc3545;padding:10px 15px;width:100%;border-radius:5px 5px 0 0">
        ⛔ {{title}}</div>
    <div
        style="color:#000;font-size:14px;line-height:24px;float:left;font-family:Verdana,Helvetica,Arial;background:#f8d7da;border:2px solid #dc3545;border-top:none;padding:20px 15px;width:100%;border-radius:0 0 5px 5px">
        {{content}}
    </div>
</div>
